{% for item in reservations %}
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
        <h3>{{ title }}</h3>
        <ul>
    <li><strong>Status:</strong> {{ item.status }}</li>
    <li><strong>Table Number:</strong> {{ item.table_number }}</li>
    <li><strong>Number of People:</strong> {{ item.number_of_people }}</li>
    <li><strong>Total Price:</strong> {{ item.total_price }}</li>
</ul>
        <a href="{% url 'reservations:reservation_detail' item.pk %}" style="color: blue;">
            View Full Details (مشاهده جزئیات کامل)
        </a>
    </div>
{% endfor %}

<a href="{% url 'reservations:reservation_lists' %}">last page</a>