{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Login</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for field in form %}
                <label>{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            {% endfor %}

            <button class="auth-btn" type="submit">
                Login
            </button>
        </form>

        <div class="auth-footer">
            No account yet?
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
</div>

</body>
</html>
